/*Poner en color rojo el texto de las secciones menos el id referencias*/
#resumen,#experimento,#pruebas,#resultados,#conclusiones
{
	color: tomato;
}
/*Poner en color rosa eltexto de las secciones menos el id='referencias'*/
section:not(#referencias)
{
	color: hotpink;
}
/*Selecionar elementos LI impares*/
li:nth-child(odd) /*impar*/
{
	color:green;
} 
/*Selecionar elementos LI pares*/
li:nth-child(even) /*par*/
{
	color:blue;
} 
li:nth-child(5)/*quinto elemento de arriba hacia abajo*/
{
	color: red;
}
li:nth-last-child(1)/*primer elemento de abajo hacia arriba*/
{
	color:purple;
}
/*Verificar compativilidad con el navegador*/

article:first-child /* es equivalente al nth-child(1)*/
{
	color: blue;
}
article:last-child /*es equivalente al nth-last-child(1)*/
{
	color: yellow;
}

/*Primera linea de un parrafo*/
p:first-line
{
	font-weight: bold;
}



















