body
{
	background: #BBBBBB;
	font-size: 16px;
	margin:0 auto;
	max-width: 1024px;
}
#frmUsuarios,#frmListado
{
	display: none;
}
#secInicio,#frmUsuarios
{
	margin-top: 50px;
	margin: 0 auto;
	width: 450px;
}