body{
	font-size: 16px;
	margin: 0px auto;
	max-width: 1078px;
}
header input
{
	float: right;
	margin-right: -200px;
	position: relative;
}
header nav
{
	margin-left: 220px; /*no funciona con center por la imagen de la equina*/
}
header nav ul li
{
	border-bottom: 1px solid gray;
	display: inline-block;
	font-size: 1.8em;
	color:gray;
	margin-right: 20px;	
	padding-bottom: 2px;
}
#bgoffer /*para que ahra se mueva para donde yo quiera*/
{
	position: relative;
	top: -410px;
	left: -35px;
}
#granthams
{	margin-top: 25px;
	margin-left: 25px;
}
#paint
{
	float: right;
}
#primeraseccion
{
	height: 318px;
	margin-top: 60px;
}
#primeraseccion article
{
	display: inline-block;
	vertical-align: top;

}
#secc01art01
{	
	width: 60%;
	margin-left: 30px;
 }
#secc01art02
{  
	width: 30%; 
	margin-left: 50px;
}
#secc01art02 ul /*quitamos viñetas*/
{
	list-style: none;

}
#secc01art02 ul li:before
{
	content: "• ";
	color:#b28787;
}
#segundaseccion article
{
	text-align: right;
	padding-right: 122px;
}
#terceraseccion article
{
	vertical-align: top;
	display: inline-block;
	width: 23%; /* para partir en cuatro el 100% de la pantalla*/
}
#terceraseccion article img
{
	vertical-align: middle; /*para alinear verticalmente el texto*/
}
#cuatro
{
	padding-top: 45px;
	padding-left: 30px;
}
#terceraseccion article input[type="email"]
{
	border-radius: 5px;
}
#terceraseccion article input[type="button"]
{
	background: #8bc500;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	border: #8bc400;
}
.letramediana
{
	font-size: 2em;
}
.colorrosa
{
	color: #FF0099;

}
.colorazul
{
	color: #4267b3;
}
.colorverde
{
	color: #8bc500;
}
.letragrande
{ 
	font-size: 3.5em;

 }
 .letracomun
 {
	font-size: 1.2em;
 }
 .stay
 { font-size: 1.5em; }
 .nito
 {
	font-weight: bold;
 }

